@model StoreApp.Models.Products
@{
    ViewBag.Title = "Create";
}

@using (Html.BeginForm("Create", "Product", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="form-group">
        @Html.LabelFor(p => p.CategoryID)
        @{
            SelectList Cats = new SelectList(ViewBag.Cats, "CategoryID", "CategoryName");
        }
        @Html.DropDownListFor(p => p.CategoryID, Cats, "請選擇", new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(p => p.ModelNumber)
        @Html.EditorFor(p => p.ModelNumber, new { htmlAttributes = new { @class = "form-control", placeholder = "Model number" } })
    </div>
    <div class="form-group">
        @Html.LabelFor(p => p.ModelName)
        <br />
        @Html.EditorFor(p => p.ModelName, new { htmlAttributes = new { @class = "form-control", placeholder = "Model Name" } })
    </div>
    <div class="form-group">
        @Html.LabelFor(p => p.UnitCost)
        @Html.EditorFor(p => p.UnitCost, new { htmlAttributes = new { @class = "form-control", placeholder = "Unit Cost" } })
    </div>
    <div class="form-group">
        @Html.LabelFor(p => p.ProductImage)
        @Html.EditorFor(p => p.ProductImage, new { htmlAttributes = new { type = "file" } })
    </div>
    <div class="form-group">
        @Html.LabelFor(p => p.Description)
        @Html.EditorFor(p => p.Description, new { htmlAttributes = new { @class = "form-control", placeholder = "Description" } })
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
}
