@using PagedList;
@using PagedList.Mvc;
@model IPagedList<StoreApp.Models.Products>
@{
    ViewBag.Title = "Index";
}

<style>
    .thumbnail {
        width: 150px;
    }
</style>

<h2>商品管理</h2>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(p => p.ModelNumber)</th>
            <th>@Html.DisplayNameFor(p => p.ModelName)</th>
            <th>@Html.DisplayNameFor(p => p.UnitCost)</th>
            <th>@Html.DisplayNameFor(p => p.ProductImage)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <td>@Html.DisplayFor(p => product.ModelNumber)</td>
                <td>@Html.DisplayFor(p => product.ModelName)</td>
                <td>@Html.DisplayFor(p => product.UnitCost)</td>
                <td><img class="thumbnail" src="@Url.Action("GetImage","Product",new { fileName = product.ProductImage})" /></td>
            </tr>
        }
    </tbody>
</table>

